body{
    color: black;
}

body::after{
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#InscriptionBox{
    margin: auto;
    width: 450px;
    padding-bottom: 15px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #A7A7A7;
    background-color: white;
}

#textInscription{
    margin: 40px 0px 0px 40px;
    font-size: 1.5em;
    display: inline-block;
}
p{
    margin: 0px 0px 40px 40px;
}

.boites{
    margin: 0px 0px 0px 40px;
    display: block;
    width: 365px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    border-color: lightgray;
}

.labelBoites{
    margin: 0px 0px 0px 40px;
    display: block;
}

#submitButton{
    width:100px;
    height: 38px;
    margin: 10px 0px 0px 300px;
    background-color: #3961E1;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    color: white;
}
.erreur{
    margin: 0px 0px 20px 40px;
    width: 365px;
    color: red;
    font-size: 0.9em;
}

#alreadyAccount{
    padding: 10px 5px;
    width: 350px;
    margin: 10px auto;
    color:black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #A7A7A7;
    text-align: center;
}

a{
    margin: auto;
    text-decoration-line: underline;
    color: black;
}